body, header, .wrapper, footer {
    display: flex;
}

.portrait > img {
    width: 25vw;
    height: 40vh;
}

img {
    min-width: 200px;
    min-height: 150px;
}

.landscape > img {
    width: 35vh;
    height: 25vw;
}

body {
    flex-direction: column;
}

header {
    flex-direction: row-reverse;
    height: 15vh;
}

h1, h2 {
    font-weight: 100;
    font-family: 'Playfair Display'
}

h1 {
    font-size: x-large;
}

h2 {
    font-size: larger;
}

.caption {
    color: white;
    font-size: xx-large;
    font-family: 'Playfair Display';
}

p {
    font-family: Arial;
    font-size: small;
    color: rgb(88, 88, 88);
}

.background {
    background-color: white;
    height: 15vh;
}
 
.shape, footer, header {
    background-color: turquoise;
}

.shape {
    min-height: 35vw;
    width: 100vw;
}

.intro {
    font-size: 0.9rem;
}

footer > p, footer > h1 {
    color: white;
}

header {
    background-color: white;
}